* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.global-header {
  width: 100%;
  height: 100%;
  position: relative;
}

.mainImg {
  width: 100%;
}

.gnb {
  width: 100%;
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.gnb-logo{
  width: 70px;
  filter: opacity(0.5) drop-shadow(0 0 0 #fff);
  margin: 20px;
}

.gnb-menuBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  width: 600px;
}

.menu{
  width: fit-content;  
  margin: 0 auto;
}

.menuItem{
  /* border: 2px solid blue; */
  display: flex;
}

.menuList{
  width: fit-content;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  color: #fff;
  opacity: 0.8  ;
}



.loginBtn{
  width: 90px;
  height: 45px;;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
  transition: all 500ms ease-in-out;
}

.loginBtn:hover {
  opacity : 0.5;
}

.joinBtn{
  width: 90px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  transition: all 500ms ease-in-out;
}

.joinBtn:hover{
  opacity: 0.6;
}


.imgTxt {
  position: absolute;
  top: 50%;
  left: 15%;
  color: white;
}

.imgTxt p {
  width: 100%;
  font-weight: bold;
}

.imgTxt h1 {
  font-size: 80px;
}

.map {
  width: 100%;
}

.place {
  width: 70%;
  height: 150px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.placeItem {
  margin-left: 7px;
}

.icon {
  color: #345fd5;
}

.map-item {
  width: 70%;
  height: 600px;
  margin: 0 auto 70px auto;
}

.marker {
  min-width: 150px;
}

.marker img {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.Marker-Title {
  padding: 5px;
  color: #000;
  font-weight: bold;
}

.footer-wrap {
  background-color: #333333;
  color: #c2c2c2;
  padding: 0 20px;
}

.footerTop{
  display: flex;
  align-items: center;
  height: 150px;
}

.footerUnder span {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.footerUnder span:first-child{
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.footerUnder span:last-child{
  font-size: 18px;
}
